body {
    margin: 0;
    padding: 0;
}

.homePage {
    /*margin: 5vh 10vh;*/
    background-color: rgb(180, 180, 180);
    height: 100vh;
    min-height: 1050px;
    /*box-shadow: 20px 50px 80px rgba(0, 0, 0, 0.7);*/
    border-radius: 40px;
    /*background: white;*/
    background: linear-gradient(to right, rgb(253, 253, 255), rgb(130, 114, 114));
}

.header {
    display: flex;
    justify-content: space-between;
    border:solid;
    border-color: rgb(96, 111, 112);
    border-width:8px;
    background-color:linear-gradient(to right, rgb(126, 126, 126), rgb(253, 253, 255));
    border-radius: 40px;
    margin-bottom:30px;
}

.welcome {
    padding-left: 2vw;
    padding-top: 20px;
    font-size: 100px;
    color: black;
    align-content: left;
}

.headerButtons {
    display: flex;
    flex-direction: columns;
    gap: 8px;
    border: solid;
    background-color: rgb(175, 170, 170);
    padding: 20px 10px 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.headerButtons button {
    border-radius: 100px;
    width: 9vw;
    height: 80px;
    font-weight: bolder;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
    cursor:pointer;
}

.headerButtons button:hover{
    background-color:black;
    color:white;
    border:none;
}

.source {
    display: flex;
    flex-direction:columns;
    grid-gap: 20px; /* Added grid gap for better spacing */
}

.leftHalf {
    font-size: 150px;
    color: linear-gradient(to right, rgb(253, 253, 255), rgb(126, 126, 126));
    width: 100%; /* Adjusted width to fill the entire space */
    margin-left:150px;
    font-style:bolder;
    margin-top:200px;
}

.subheader{
    font-size:80px;
    font-style:bold;
}



.rightHalf {
    width: 1100px; /* Adjusted width to fill the entire space */
    margin-top:20px auto;
    text-align:center;
}
.rightHalf button {
    border-radius: 100px;
    width: 12vw;
    min-width: 80px;
    height: 80px;
    font-weight: bolder;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    cursor:pointer;
    display:inline;
}



.profilePic{
    width: 300px; /* Ensures the image doesn't exceed its container */
    margin: 0 auto;
    display:block;
    padding: 10px;
    border: solid;
    border-radius: 50%;   
    border-width:4px;
    border-color:rgb(78, 97, 99);
}
.bio {
    padding-top:10px;
    margin-left: 40px; /* Added padding for better spacing */
    margin-right:40px;
    margin-bottom:10px;
    font-size: 30px;
    text-align:left;

}

.resume button{
    font-size:30px;
    min-width:200px;
    width: 100%;
    max-width:400px;
}
.resume:hover{
    background-color:black;
    color:white;
    border:none;
}


@media only screen and (max-width: 450px){
    body {
        margin: 0;
        padding: 0;
    }
    
    .homePage {
        height:auto;
        width: auto;
    }
    
    .header {
        display: grid;
        margin:0px;
        padding:0px;
    }
    
    .welcome {
        font-size: 50px;
    }
    
    .headerButtons {
        width: 91vw;
        border-radius: 30px;
        gap: 3px;
        padding:5px;
        margin:0px;
    }
    
    .headerButtons button {
        width: 83px;
        font-weight: bolder;
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
        cursor:pointer;
    }
    
    .headerButtons button:hover{
        background-color:black;
        color:white;
        border:none;
    }
    
    .source {
        display:grid;
        width:auto;

    }
    
    .leftHalf {
        font-size: 60px;
        text-align:center;
        margin:0px;
        padding:0px;
        width:400px;
    }
    
    .subheader{
        font-size: 40px;
    }
    
    
    
    .rightHalf {
        margin:0 auto;
        width:400px;
    }

    .profilePic{
        width: 200px;
    }
    
    .resume button{
        cursor: pointer;
    }
    .resume:hover{
        background-color:black;
        color:white;
        border:none;
    }
}

@media only screen and (max-width: 810px){
    .homePage{
        width:auto;
    }
}