@media only screen and (min-width: 451px){
    body {
        font-family:Playfair Display;
        margin: 0;
        padding: 0;
    }
    
    .homePage {
        /*margin: 5vh 10vh;*/
        background-color: white;
        height: auto;
        /*box-shadow: 20px 50px 80px rgba(0, 0, 0, 0.7);*/
        border-radius: 40px;
        /*background: white;*/
        min-width:800px;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        border:solid;
        border-color: rgb(96, 111, 112);
        border-width:8px;
        background-color:linear-gradient(to right, rgb(126, 126, 126), rgb(253, 253, 255));
    }
    
    .welcome {
        padding-left: 2vw;
        padding-top: 20px;
        font-size: 90px;
        color: black;
        align-content: left;
    }
    
    .headerButtons {
        display: flex;
        flex-direction: columns;
        gap: 8px;
        background-color: transparent;
        padding: 20px 10px 20px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    
    .headerButtons button {
        font-family:Playfair Display;
        font-size: 30px;
        width: 14vw;
        min-width: 80px;
        height: 95px;
        font-weight: bolder;
        background:transparent;
        cursor:pointer;
        border:none;
    }
    
    .headerButtons button:hover{
        color: black;
        opacity: 0.5;
        text-decoration: underline;
    }

    .linkInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
        padding-bottom: 40px;
        margin: 0 auto;
    }

    .linkInfo button {
        font-family:Playfair Display;
        display: inline;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        margin: 0 10px; /* Adjust margin as needed */
        text-decoration: underline;
        border-radius: 40px;
    }

    .linkInfo button:hover {
        border: solid;
        background: white;
        opacity: 0.5;
    }

    .linkInfo img {
        border-radius: 35px;
        display: block;
        width: 350px;
    }
}

@media only screen and (max-width: 450px){
        body, html {
            margin: 0;
            padding: 0;
        }
    
        .homePage {
            height: auto;
            width: 100vw;
            background:white;
        }
    
        .header {
            background-color: rgb(96, 111, 112);
            max-width:100%;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 10px;
            display: flex;
            border:solid;
            border-color: rgb(96, 111, 112);
            border-width:20px;
            
        }
    
        .welcome {
            font-size: 80px;
            text-align: center;
            border:none;
        }
    
        .headerButtons {
            text-align: center;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: transparent;
            border-radius: 20px;
            padding-left: 0; /* Remove left padding */
        }
    
        .headerButtons button {
            
            height: 60px;
            font-size: 28px;
            width: 95%;
            max-width: 200px;
            box-sizing: border-box;
            cursor: pointer;
            border:none;
            background:transparent;
            border-radius: 10px;
            box-shadow: none;
            margin-top:10px;
            margin-bottom:10px;
        }
    
        .headerButtons button:hover {
            background-color: black;
            color: white;
            text-decoration: underline;
            border: none;
            font-style:underline;
        }

    .linkInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
        padding-bottom: 40px;
        margin: 0 auto;
    }

    .linkInfo button {
        display: inline;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        margin: 0 10px; /* Adjust margin as needed */
        text-decoration: underline;
        border-radius: 40px;
    }

    .linkInfo button:hover {
        border: solid;
        background: white;
        opacity: 0.5;
    }

    .linkInfo img {
        border-radius: 35px;
        display: block;
        width: 300px;
    }
}